<a href="https://colab.research.google.com/github/Daniel022de/Bootcamp_SoulCode_EngenhariaDados/blob/main/Banco%20de%20dados/MongoDB/MongoDB_study_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introdução ao MongoDB

Esse Notebook é referente as instruções feitas pelo professor **Igor Gondim** no bootcamp **engenharia de dados** **da SoulCode** na aula de apresentação ao MongoDB.

**Os aprendizados forão os seguintes:**

1. Conceito geral de banco de dados NoSQL (não somente relacional) e MongoDB;
2. Como realizar conexão ao Data Base através de um certificado emitido no MongoDB;
3. Como realizar a criação de datasets e collections utilizando a biblioteca pandas no colab;
4. Automatizar a inserção de dados na collection;
5. Filtrar os dados;
6. Realizar update e delete dos dados;
7. Extrair collections do MongoDB;
8. Carregar DataFrames no MongoDB;





! **Você pode encontrar esse notebook no meu repositório** [GitHub](https://github.com/Daniel022de/Bootcamp_SoulCode_EngenhariaDados)

! **Você pode entrar em contato comigo através do meu email** ddololiveira.pessoal@gmail.com **e** [Linkedin](https://www.linkedin.com/in/daniel-oliveira-503b0323b/).

! **Toda dúvida,recomendações e feedbacks serão bem-vindas.**

#Importando biblioteca

In [65]:
from pymongo import MongoClient

#Conexão MongoDB

In [66]:
uri = "mongodb+srv://daniel-soulcode.v9iencb.mongodb.net/?authSource=%24external&authMechanism=MONGODB-X509&retryWrites=true&w=majority"
client = MongoClient(uri,tls=True,tlsCertificateKeyFile='/content/drive/MyDrive/Colab Notebooks/X509-cert-1388842986422460516.pem')

#Criando DataBase e uma coleção

- Vou inserir dados aleatórios para popular a minha colecao

In [67]:
#Apontando DataBase e coleção
colecao_study = client['DataBase_study']['study']

In [68]:
#Inserindo dados aleatórios
n = 1
i = 15
while i<50:
  inf = colecao_study.insert_one({'nome':'nome'+str(n),'idade':i})
  n+=1
  i+=1
  
  print(inf.inserted_id)

# Visualizando os dados

In [69]:
for x in colecao_study.find():
  print(x)

{'_id': ObjectId('638b99205f8803ecfbe46b5d'), 'nome': 'nome1', 'idade': 15, 'faixa_etaria': 'Adolescente'}
{'_id': ObjectId('638b99205f8803ecfbe46b5e'), 'nome': 'nome2', 'idade': 16, 'faixa_etaria': 'Adolescente'}
{'_id': ObjectId('638b99215f8803ecfbe46b5f'), 'nome': 'nome3', 'idade': 17, 'faixa_etaria': 'Adolescente'}
{'_id': ObjectId('638b99215f8803ecfbe46b60'), 'nome': 'nome4', 'idade': 18, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99215f8803ecfbe46b61'), 'nome': 'nome5', 'idade': 19, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99215f8803ecfbe46b62'), 'nome': 'nome6', 'idade': 20, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99225f8803ecfbe46b63'), 'nome': 'nome7', 'idade': 21, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99225f8803ecfbe46b64'), 'nome': 'nome8', 'idade': 22, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99225f8803ecfbe46b65'), 'nome': 'nome9', 'idade': 23, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99235f8803ecfbe46b66'), 'nome': 'nome10', 'idade': 24, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99235f8803ecfbe46b67'), 'nome': 'nome11', 'idade': 25, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99235f8803ecfbe46b68'), 'nome': 'nome12', 'idade': 26, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b69'), 'nome': 'nome13', 'idade': 27, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b6a'), 'nome': 'nome14', 'idade': 28, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b6b'), 'nome': 'nome15', 'idade': 29, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b6c'), 'nome': 'nome16', 'idade': 30, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99255f8803ecfbe46b6d'), 'nome': 'nome17', 'idade': 31, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99255f8803ecfbe46b6e'), 'nome': 'nome18', 'idade': 32, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99255f8803ecfbe46b6f'), 'nome': 'nome19', 'idade': 33, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99265f8803ecfbe46b70'), 'nome': 'nome20', 'idade': 34, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99265f8803ecfbe46b71'), 'nome': 'nome21', 'idade': 35, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99265f8803ecfbe46b72'), 'nome': 'nome22', 'idade': 36, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b73'), 'nome': 'nome23', 'idade': 37, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b74'), 'nome': 'nome24', 'idade': 38, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b75'), 'nome': 'nome25', 'idade': 39, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b76'), 'nome': 'nome26', 'idade': 40, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b77'), 'nome': 'nome27', 'idade': 41, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b78'), 'nome': 'nome28', 'idade': 42, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b79'), 'nome': 'nome29', 'idade': 43, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7a'), 'nome': 'nome30', 'idade': 44, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7b'), 'nome': 'nome31', 'idade': 45, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7c'), 'nome': 'nome32', 'idade': 46, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7d'), 'nome': 'nome33', 'idade': 47, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b992a5f8803ecfbe46b7e'), 'nome': 'nome34', 'idade': 48, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b992a5f8803ecfbe46b7f'), 'nome': 'nome35', 'idade': 49, 'faixa_etaria': 'Adulto'}

#Filtrando dados

## Por comparação

`$lt = Menor que | $gt = maior que | $lte = Menor igual | $gte = Maior e igual | $ne = Diferente`

In [70]:
# Localizando por parametros numéricos

filtro = {'idade':{'$gt':47}}


for x in colecao_study.find(filtro):
  print(x)

{'_id': ObjectId('638b992a5f8803ecfbe46b7e'), 'nome': 'nome34', 'idade': 48, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b992a5f8803ecfbe46b7f'), 'nome': 'nome35', 'idade': 49, 'faixa_etaria': 'Adulto'}

## Parâmetros exatos

In [71]:
filtro = {'nome':'nome30'}

for x in colecao_study.find(filtro):
  print(x)

{'_id': ObjectId('638b99295f8803ecfbe46b7a'), 'nome': 'nome30', 'idade': 44, 'faixa_etaria': 'Adulto'}

In [72]:
filtro = {'idade':20}

for x in colecao_study.find(filtro):
  print(x)

{'_id': ObjectId('638b99215f8803ecfbe46b62'), 'nome': 'nome6', 'idade': 20, 'faixa_etaria': 'Jovem'}

In [73]:
filtro = {'nome':'nome30','idade':44}

for x in colecao_study.find(filtro):
  print(x)

{'_id': ObjectId('638b99295f8803ecfbe46b7a'), 'nome': 'nome30', 'idade': 44, 'faixa_etaria': 'Adulto'}

##Por lista

In [74]:
filtro = {'idade': {'$in':[20,22,35]}}

for x in colecao_study.find(filtro):
  print(x)

{'_id': ObjectId('638b99215f8803ecfbe46b62'), 'nome': 'nome6', 'idade': 20, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99225f8803ecfbe46b64'), 'nome': 'nome8', 'idade': 22, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99265f8803ecfbe46b71'), 'nome': 'nome21', 'idade': 35, 'faixa_etaria': 'Adulto'}

In [75]:
filtro = {'nome': {'$in':['nome21','nome22','nome30']}}

for x in colecao_study.find(filtro):
  print(x)

{'_id': ObjectId('638b99265f8803ecfbe46b71'), 'nome': 'nome21', 'idade': 35, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99265f8803ecfbe46b72'), 'nome': 'nome22', 'idade': 36, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7a'), 'nome': 'nome30', 'idade': 44, 'faixa_etaria': 'Adulto'}

## Usando or

In [76]:
filtro = {'$or':[{'nome':'nome22'},{'idade':40}]}

for x in colecao_study.find(filtro):
  print(x)

{'_id': ObjectId('638b99265f8803ecfbe46b72'), 'nome': 'nome22', 'idade': 36, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b76'), 'nome': 'nome26', 'idade': 40, 'faixa_etaria': 'Adulto'}

In [77]:
filtro = {'$or':[{'idade':{'$gt':35}},{'idade':{'$lt':45}}]}

for x in colecao_study.find(filtro):
  print(x)

{'_id': ObjectId('638b99205f8803ecfbe46b5d'), 'nome': 'nome1', 'idade': 15, 'faixa_etaria': 'Adolescente'}
{'_id': ObjectId('638b99205f8803ecfbe46b5e'), 'nome': 'nome2', 'idade': 16, 'faixa_etaria': 'Adolescente'}
{'_id': ObjectId('638b99215f8803ecfbe46b5f'), 'nome': 'nome3', 'idade': 17, 'faixa_etaria': 'Adolescente'}
{'_id': ObjectId('638b99215f8803ecfbe46b60'), 'nome': 'nome4', 'idade': 18, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99215f8803ecfbe46b61'), 'nome': 'nome5', 'idade': 19, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99215f8803ecfbe46b62'), 'nome': 'nome6', 'idade': 20, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99225f8803ecfbe46b63'), 'nome': 'nome7', 'idade': 21, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99225f8803ecfbe46b64'), 'nome': 'nome8', 'idade': 22, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99225f8803ecfbe46b65'), 'nome': 'nome9', 'idade': 23, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99235f8803ecfbe46b66'), 'nome': 'nome10', 'idade': 24, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99235f8803ecfbe46b67'), 'nome': 'nome11', 'idade': 25, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99235f8803ecfbe46b68'), 'nome': 'nome12', 'idade': 26, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b69'), 'nome': 'nome13', 'idade': 27, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b6a'), 'nome': 'nome14', 'idade': 28, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b6b'), 'nome': 'nome15', 'idade': 29, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b6c'), 'nome': 'nome16', 'idade': 30, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99255f8803ecfbe46b6d'), 'nome': 'nome17', 'idade': 31, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99255f8803ecfbe46b6e'), 'nome': 'nome18', 'idade': 32, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99255f8803ecfbe46b6f'), 'nome': 'nome19', 'idade': 33, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99265f8803ecfbe46b70'), 'nome': 'nome20', 'idade': 34, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99265f8803ecfbe46b71'), 'nome': 'nome21', 'idade': 35, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99265f8803ecfbe46b72'), 'nome': 'nome22', 'idade': 36, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b73'), 'nome': 'nome23', 'idade': 37, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b74'), 'nome': 'nome24', 'idade': 38, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b75'), 'nome': 'nome25', 'idade': 39, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b76'), 'nome': 'nome26', 'idade': 40, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b77'), 'nome': 'nome27', 'idade': 41, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b78'), 'nome': 'nome28', 'idade': 42, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b79'), 'nome': 'nome29', 'idade': 43, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7a'), 'nome': 'nome30', 'idade': 44, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7b'), 'nome': 'nome31', 'idade': 45, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7c'), 'nome': 'nome32', 'idade': 46, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7d'), 'nome': 'nome33', 'idade': 47, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b992a5f8803ecfbe46b7e'), 'nome': 'nome34', 'idade': 48, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b992a5f8803ecfbe46b7f'), 'nome': 'nome35', 'idade': 49, 'faixa_etaria': 'Adulto'}

##Usando and

In [78]:
filtro = {'$and':[{'idade':{'$gt':35}},{'idade':{'$lt':45}}]}

for x in colecao_study.find(filtro):
  print(x)

{'_id': ObjectId('638b99265f8803ecfbe46b72'), 'nome': 'nome22', 'idade': 36, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b73'), 'nome': 'nome23', 'idade': 37, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b74'), 'nome': 'nome24', 'idade': 38, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b75'), 'nome': 'nome25', 'idade': 39, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b76'), 'nome': 'nome26', 'idade': 40, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b77'), 'nome': 'nome27', 'idade': 41, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b78'), 'nome': 'nome28', 'idade': 42, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b79'), 'nome': 'nome29', 'idade': 43, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7a'), 'nome': 'nome30', 'idade': 44, 'faixa_etaria': 'Adulto'}

# Update de dados

In [ ]:
#Update exemplo 1

filtro = {'idade':{'$gte':30}}

modifica = {'$set':{'faixa_etaria':'Adulto'}}

colecao_study.update_many(filtro,modifica)

In [ ]:
#Update exemplo 2

filtro = {'$and':[{'idade':{'$lt':30}},{'idade':{'$gte':18}}]}
modifica = {'$set':{'faixa_etaria':'Jovem'}}

colecao_study.update_many(filtro,modifica)

In [ ]:
#Update exemplo 3

filtro = {'idade':{'$lt':18}}

modifica = {'$set':{'faixa_etaria':'Adolescente'}}

colecao_study.update_many(filtro,modifica)

In [82]:
#Verificando updates

for x in colecao_study.find():
  print(x)

{'_id': ObjectId('638b99205f8803ecfbe46b5d'), 'nome': 'nome1', 'idade': 15, 'faixa_etaria': 'Adolescente'}
{'_id': ObjectId('638b99205f8803ecfbe46b5e'), 'nome': 'nome2', 'idade': 16, 'faixa_etaria': 'Adolescente'}
{'_id': ObjectId('638b99215f8803ecfbe46b5f'), 'nome': 'nome3', 'idade': 17, 'faixa_etaria': 'Adolescente'}
{'_id': ObjectId('638b99215f8803ecfbe46b60'), 'nome': 'nome4', 'idade': 18, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99215f8803ecfbe46b61'), 'nome': 'nome5', 'idade': 19, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99215f8803ecfbe46b62'), 'nome': 'nome6', 'idade': 20, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99225f8803ecfbe46b63'), 'nome': 'nome7', 'idade': 21, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99225f8803ecfbe46b64'), 'nome': 'nome8', 'idade': 22, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99225f8803ecfbe46b65'), 'nome': 'nome9', 'idade': 23, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99235f8803ecfbe46b66'), 'nome': 'nome10', 'idade': 24, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99235f8803ecfbe46b67'), 'nome': 'nome11', 'idade': 25, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99235f8803ecfbe46b68'), 'nome': 'nome12', 'idade': 26, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b69'), 'nome': 'nome13', 'idade': 27, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b6a'), 'nome': 'nome14', 'idade': 28, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b6b'), 'nome': 'nome15', 'idade': 29, 'faixa_etaria': 'Jovem'}
{'_id': ObjectId('638b99245f8803ecfbe46b6c'), 'nome': 'nome16', 'idade': 30, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99255f8803ecfbe46b6d'), 'nome': 'nome17', 'idade': 31, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99255f8803ecfbe46b6e'), 'nome': 'nome18', 'idade': 32, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99255f8803ecfbe46b6f'), 'nome': 'nome19', 'idade': 33, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99265f8803ecfbe46b70'), 'nome': 'nome20', 'idade': 34, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99265f8803ecfbe46b71'), 'nome': 'nome21', 'idade': 35, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99265f8803ecfbe46b72'), 'nome': 'nome22', 'idade': 36, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b73'), 'nome': 'nome23', 'idade': 37, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b74'), 'nome': 'nome24', 'idade': 38, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b75'), 'nome': 'nome25', 'idade': 39, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99275f8803ecfbe46b76'), 'nome': 'nome26', 'idade': 40, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b77'), 'nome': 'nome27', 'idade': 41, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b78'), 'nome': 'nome28', 'idade': 42, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99285f8803ecfbe46b79'), 'nome': 'nome29', 'idade': 43, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7a'), 'nome': 'nome30', 'idade': 44, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7b'), 'nome': 'nome31', 'idade': 45, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7c'), 'nome': 'nome32', 'idade': 46, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b99295f8803ecfbe46b7d'), 'nome': 'nome33', 'idade': 47, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b992a5f8803ecfbe46b7e'), 'nome': 'nome34', 'idade': 48, 'faixa_etaria': 'Adulto'}
{'_id': ObjectId('638b992a5f8803ecfbe46b7f'), 'nome': 'nome35', 'idade': 49, 'faixa_etaria': 'Adulto'}

#Delete de dados

In [83]:
# colecao_study.delete_one()
# Onde ele encontra a primeira ocorrência, vai deletar o documento.

# colecao_study.delete_many()
# Onde ele encontrar a ocorrência, ele deleta o documento todo.

# colecao_study.delete_many({})
# Deleta toda coleção

#Extração de Collections

***Extraindo uma coleção de um Dataset público do MongoDB para o colab utilizando a biblioteca pandas.***

## Importação biblioteca

In [84]:
import pandas as pd

## Extraindo coleção e convertendo em um DataFrame

In [96]:
cursor = client['sample_airbnb']['listingsAndReviews'].find()
df = pd.DataFrame(list(cursor))

## Visualizando DataFrame

In [97]:
df.head(4)

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: • Metro station and S. Bento railwa...,We are always available to help guests. The ho...,...,6,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51399391', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 28, 'availability_60': 47,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58663741', 'date': 2016-01-03 05:00:...",NaN,NaN,NaN
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"There´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1282196', 'host_url': 'https://ww...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],1492.00,4849.00,NaN
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Great studio located on Ala Moana across the s...,A short distance from Honolulu's billion dolla...,You can breath ocean as well as aloha.,,Honolulu does have a very good air conditioned...,"Pool, hot tub and tennis",...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '5448114', 'host_url': 'https://ww...","{'street': 'Honolulu, HI, United States', 'sub...","{'availability_30': 16, 'availability_60': 46,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '4765259', 'date': 2013-05-24 04:00:0...",650.00,2150.00,NaN
3,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,,Here exists a very cozy room for rent in a sha...,,,,,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '11275734', 'host_url': 'https://w...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '61050713', 'date': 2016-01-31 05:00:...",NaN,NaN,NaN

In [98]:
df.dtypes

_id                              object
listing_url                      object
name                             object
summary                          object
space                            object
description                      object
neighborhood_overview            object
notes                            object
transit                          object
access                           object
interaction                      object
house_rules                      object
property_type                    object
room_type                        object
bed_type                         object
minimum_nights                   object
maximum_nights                   object
cancellation_policy              object
last_scraped             datetime64[ns]
calendar_last_scraped    datetime64[ns]
first_review             datetime64[ns]
last_review              datetime64[ns]
accommodates                      int64
bedrooms                        float64
beds                            float64
number_of_reviews                 int64
bathrooms                        object
amenities                        object
price                            object
security_deposit                 object
cleaning_fee                     object
extra_people                     object
guests_included                  object
images                           object
host                             object
address                          object
availability                     object
review_scores                    object
reviews                          object
weekly_price                     object
monthly_price                    object
reviews_per_month               float64
dtype: object

#Carregando DataFrame no MongoDB

***Carregando um DataFrame do colab para um Dataset do MongoDB utilizando a biblioteca pandas.***

## Tratamento

***Pequeno tratamento para carregar o df2 em um novo Dataset do MongoDB***

In [103]:
#Importando o numpy para tatramento de nulos

import numpy as np

In [99]:
df2 = pd.read_csv('https://storage.googleapis.com/bc26-bucket/ocorrencia.csv',sep=';',encoding = 'ISO-8859-1',parse_dates=['ocorrencia_dia'],dayfirst=True)

In [100]:
#Renomear as colunas
df2.rename(columns={'codigo_ocorrencia':'ocorrencia','ocorrencia_classificacao':'classificacao','ocorrencia_cidade':'cidade','ocorrencia_uf':'uf','ocorrencia_pais':'pais','ocorrencia_aerodromo':'aerodromo'},inplace=True)
df2.rename(columns={'ocorrencia_dia':'dia','ocorrencia_hora':'horario','total_recomendacoes':'recomendacoes','total_aeronaves_envolvidas':'n_aeronaves','ocorrencia_saida_pista':'saida_pista'},inplace=True)

In [101]:
#Dropagem das colunas que tinham dados repetidos
df2.drop(['codigo_ocorrencia1','codigo_ocorrencia2','codigo_ocorrencia3','codigo_ocorrencia4'],axis=1,inplace=True)
#Drop de colunas que não serão utilizadas
df2.drop(['ocorrencia_latitude','ocorrencia_longitude','investigacao_aeronave_liberada','investigacao_status','divulgacao_relatorio_numero','divulgacao_relatorio_publicado','divulgacao_dia_publicacao'],axis=1,inplace=True)

In [104]:
df2.replace(['***','**NI'],np.NaN,inplace=True)

##Carregamento

In [ ]:
colecao_teste = client['db_test']['collection_test']

df2_dict = df2.to_dict('records') 

colecao_teste.insert_many(df2_dict)

In [111]:
#Verificando se foi carregado
colecao_teste.count_documents({})

6769