<a href="https://colab.research.google.com/github/Daniel022de/Bootcamp_SoulCode_EngenhariaDados/blob/main/Banco%20de%20dados/SQL/conex%C3%A3o_colab_mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CONECTANDO COLAB AO MYSQL GOOGLE CLOUD**

Esse Notebook é referente as instruções feitas pelo professor **Bismark William** no bootcamp **engenharia de dados** da **SoulCode** visando a conexão entre o colab e uma instância mysql criada em nuvem na google cloud.

**Observação:** Esse colab é meramente educativo, pois em um mundo corporativo não é seguro compartilhar um código de acesso a banco de dados para todas as pessoas.







! **Você pode encontrar esse notebook no meu repositório** [GitHub](https://github.com/Daniel022de/Bootcamp_SoulCode_EngenhariaDados)

! **Você pode entrar em contato comigo através do meu email** ddololiveira.pessoal@gmail.com **e** [Linkedin](https://www.linkedin.com/in/daniel-oliveira-503b0323b/).

! **Toda dúvida,recomendações e feedbacks serão bem-vindas.**

#Instalação

In [ ]:
!pip install pyspark
!pip install mysql-connector-python

#Importando bibliotecas

In [3]:
import mysql.connector
from mysql.connector import Error

#Funções

## Função conexão ao banco

In [4]:
def conexao_db(servidor,usuario,senha,nome_database):
  conexao = None
  try:
    conexao = mysql.connector.connect(host=servidor,user=usuario,passwd=senha,database=nome_database)
    print(f'Conexão ao banco {nome_database} efetuada com sucesso!')
  except:
    print(f'Erro ao conectar ao banco {nome_database}')
  
  return conexao

In [ ]:
#Conectando

connect = conexao_db('ip','usuario','senha','nome_database')

## Função ler tabelas

In [ ]:
def leitura_de_tabelas(conexao,sql):
  cursor = conexao.cursor()
  retorno = None
  try:
    cursor.execute(sql)
    retorno = cursor.fetchall() 
    return retorno
  except:
    print('Erro ao listar os dados da tabela')

In [ ]:
sql_exemplo = 'SELECT * FROM table'

In [ ]:
table = leitura_de_tabelas(connect,sql_exemplo)

In [ ]:
#lendo table
for i in table:
  print(i)

# Função query

**Para executar comandos SQL como INSERT, DELETE e UPDATE**

In [ ]:
def executar_query(conexao, sql):
  cursor = conexao.cursor()
  try:
    cursor.execute(sql)
    conexao.commit()
    print('Query executada com sucesso!')
  except:
    print('Não foi possível executar a Query')

In [ ]:
sql_exemplo = 'DELETE FROM table WHERE condição'
executar_query(connect,sql_exemplo)

#Convertendo pra tabela pra DataFrame

##DataFrame Pandas

In [6]:
import pandas as pd
schema = []
df_pandas = pd.DataFrame(table, columns = schema)

## DataFrame Pyspark

In [ ]:
!pip install pyspark

In [8]:
from pyspark.sql import SparkSession

In [9]:
#Configurando variável de ambiente

spark = (
    SparkSession.builder
                .master('local')
                .appName('sparkSQL')
                .config('spark.ui.port', '4050')
                .getOrCreate()
)

In [ ]:
#Criando DataFrame

schema = []
df_spark = spark.createDataFrame(table,schema)