<a href="https://colab.research.google.com/github/Daniel022de/DataEnginner_SoulCode/blob/main/Banco%20de%20dados/SQL/conex%C3%A3o_colab_mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#üìó **CONECTANDO COLAB AO MYSQL GOOGLE CLOUD**

Esse Notebook √© referente as instru√ß√µes feitas pelo professor **Bismark William** no bootcamp **engenharia de dados** da **SoulCode** visando a conex√£o entre o colab e uma inst√¢ncia mysql criada em nuvem na google cloud.

**Observa√ß√£o:** Esse colab √© meramente educativo, pois em um mundo corporativo n√£o √© seguro compartilhar um c√≥digo de acesso a banco de dados para todas as pessoas.







! **Voc√™ pode encontrar esse notebook no meu reposit√≥rio** [GitHub](https://github.com/Daniel022de/Bootcamp_SoulCode_EngenhariaDados)

! **Voc√™ pode entrar em contato comigo atrav√©s do meu email** ddololiveira.pessoal@gmail.com **e** [Linkedin](https://www.linkedin.com/in/daniel-oliveira-503b0323b/).

! **Toda d√∫vida,recomenda√ß√µes e feedbacks ser√£o bem-vindas.**

# ‚ñ∂ 1 Instala√ß√£o

In [ ]:
!pip install pyspark
!pip install mysql-connector-python

# ‚ñ∂ 2 Importando bibliotecas

In [ ]:
import mysql.connector
from mysql.connector import Error

# ‚ñ∂ 3 Fun√ß√µes

##   ‚óº    3.1  Fun√ß√£o conex√£o ao banco

In [ ]:
def conexao_db(servidor,usuario,senha,nome_database):
  conexao = None
  try:
    conexao = mysql.connector.connect(host=servidor,user=usuario,passwd=senha,database=nome_database)
    print(f'Conex√£o ao banco {nome_database} efetuada com sucesso!')
  except:
    print(f'Erro ao conectar ao banco {nome_database}')
  
  return conexao

In [ ]:
#Conectando

connect = conexao_db('ip','usuario','senha','nome_database')

##  ‚óº  3.2 Fun√ß√£o ler tabelas

In [ ]:
def leitura_de_tabelas(conexao,sql):
  cursor = conexao.cursor()
  retorno = None
  try:
    cursor.execute(sql)
    retorno = cursor.fetchall() 
    return retorno
  except:
    print('Erro ao listar os dados da tabela')

In [ ]:
sql_exemplo = 'SELECT * FROM table'

In [ ]:
table = leitura_de_tabelas(connect,sql_exemplo)

In [ ]:
#lendo table
for i in table:
  print(i)

# ‚ñ∂ 4 Fun√ß√£o query

**Para executar comandos SQL como INSERT, DELETE e UPDATE**

In [ ]:
def executar_query(conexao, sql):
  cursor = conexao.cursor()
  try:
    cursor.execute(sql)
    conexao.commit()
    print('Query executada com sucesso!')
  except:
    print('N√£o foi poss√≠vel executar a Query')

In [ ]:
sql_exemplo = 'DELETE FROM table WHERE condi√ß√£o'
executar_query(connect,sql_exemplo)

#‚ñ∂ 5 Convertendo pra tabela pra DataFrame

## ‚óº    5.1 DataFrame Pandas

In [ ]:
import pandas as pd
schema = []
df_pandas = pd.DataFrame(table, columns = schema)

##  ‚óº    5.2 DataFrame Pyspark

In [ ]:
!pip install pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
#Configurando vari√°vel de ambiente

spark = (
    SparkSession.builder
                .master('local')
                .appName('sparkSQL')
                .config('spark.ui.port', '4050')
                .getOrCreate()
)

In [ ]:
#Criando DataFrame

schema = []
df_spark = spark.createDataFrame(table,schema)