<a href="https://colab.research.google.com/github/Daniel022de/DataEnginner_SoulCode/blob/main/Study%20PySpark/PySpark_Study_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **üìó PYSPARK - INTRODUCTION**

Esse Notebook √© referente as instru√ß√µes feitas pelo professor **Bismark William** no bootcamp **engenharia de dados** da **SoulCode** visando a consolida√ß√£o dos conhecimentos sobre o PySpark e sua utiliza√ß√£o no processo de extra√ß√£o, carregamento, tratamento e normaliza√ß√£o de dados.







! **Voc√™ pode encontrar esse notebook no meu reposit√≥rio** [GitHub](https://github.com/Daniel022de/Bootcamp_SoulCode_EngenhariaDados)

! **Voc√™ pode entrar em contato comigo atrav√©s do meu email** ddololiveira.pessoal@gmail.com **e** [Linkedin](https://www.linkedin.com/in/daniel-oliveira-503b0323b/).

! **Toda d√∫vida,recomenda√ß√µes e feedbacks ser√£o bem-vindas.**

#‚ñ∂ 1 Instala√ß√£o

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 199 kB 56.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=1117ea3bfc9c65e77746274ef77d42ededea4d419da412f7faf3ebdc62cee1c4
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

#‚ñ∂ 2 Importando bibliotecas

In [ ]:
# Session do spark

from pyspark.sql import SparkSession

# functions

import pyspark.sql.functions as F

#‚ñ∂ 3 Configurando vari√°vel de ambiente (session) Spark

In [ ]:
spark = SparkSession.builder.master('local').appName('Intro-pyspark').config('spark.ui.port','4050').getOrCreate()

# ‚ñ∂ 4 Criando DataFrames



*   Antes de extrair um DataSet e carreg√°-lo em um DataFrame Pyspark √© importante conhecer o comportamento,algumas fun√ß√µes e filtros b√°sicos relacionados a um DataFrame. As instru√ß√µes abaixo √© sobre isso.

In [ ]:
schema = 'id INT, nome STRING, cpf STRING, celular STRING, cidade STRING'

dados = [
    
    (1, 'Oswaldo da Silva', '999.999.999-99', '(99)9.9999-9999', 'Sobral'),
    (2, 'Maria dos Santos', '888.888.888-88', '(88)8.8888-8888', 'Fortaleza'),
    (3, 'Priscila Medeiros', '777.777.777-77', '(77)7.7777-7777', 'Rio de Janeiro'),
    (4, 'Roberto Diniz', '666.666.666-66', '(66)6.6666-6666', 'Sobral')
]


df = spark.createDataFrame(dados,schema)

##‚óº 4.1 Backup

In [ ]:
# Realizando backup

df_backup = df

In [ ]:
# Resgatando o backup

#df = df_backup

## ‚óº 4.2  Visualizando DataFrame

In [ ]:
df.show()

+---+-----------------+--------------+---------------+--------------+
| id|             nome|           cpf|        celular|        cidade|
+---+-----------------+--------------+---------------+--------------+
|  1| Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|
|  2| Maria dos Santos|888.888.888-88|(88)8.8888-8888|     Fortaleza|
|  3|Priscila Medeiros|777.777.777-77|(77)7.7777-7777|Rio de Janeiro|
|  4|    Roberto Diniz|666.666.666-66|(66)6.6666-6666|        Sobral|
+---+-----------------+--------------+---------------+--------------+

In [ ]:
#Visualizando schema
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- cpf: string (nullable = true)
 |-- celular: string (nullable = true)
 |-- cidade: string (nullable = true)

## ‚óº 4.3 Fun√ß√µes

In [ ]:
# Quantidade de linhas

df.count()

4

In [ ]:
# Verificar colunas

df.columns

['id', 'nome', 'cpf', 'celular', 'cidade']

#‚ñ∂ 5 Select

In [ ]:
df.select('id','nome').show()

+---+-----------------+
| id|             nome|
+---+-----------------+
|  1| Oswaldo da Silva|
|  2| Maria dos Santos|
|  3|Priscila Medeiros|
|  4|    Roberto Diniz|
+---+-----------------+

In [ ]:
# Outra forma

df.select(F.col('id'),F.col('nome')).show()

+---+-----------------+
| id|             nome|
+---+-----------------+
|  1| Oswaldo da Silva|
|  2| Maria dos Santos|
|  3|Priscila Medeiros|
|  4|    Roberto Diniz|
+---+-----------------+

#‚ñ∂ 6 Filter

In [ ]:
df.filter(F.col('nome') == 'Priscila Medeiros').show()

+---+-----------------+--------------+---------------+--------------+
| id|             nome|           cpf|        celular|        cidade|
+---+-----------------+--------------+---------------+--------------+
|  3|Priscila Medeiros|777.777.777-77|(77)7.7777-7777|Rio de Janeiro|
+---+-----------------+--------------+---------------+--------------+

In [ ]:
# Outra forma

df.filter(df.nome == 'Priscila Medeiros').show()

+---+-----------------+--------------+---------------+--------------+
| id|             nome|           cpf|        celular|        cidade|
+---+-----------------+--------------+---------------+--------------+
|  3|Priscila Medeiros|777.777.777-77|(77)7.7777-7777|Rio de Janeiro|
+---+-----------------+--------------+---------------+--------------+

In [ ]:
# Outra forma

df.filter("nome = 'Priscila Medeiros'").show()

+---+-----------------+--------------+---------------+--------------+
| id|             nome|           cpf|        celular|        cidade|
+---+-----------------+--------------+---------------+--------------+
|  3|Priscila Medeiros|777.777.777-77|(77)7.7777-7777|Rio de Janeiro|
+---+-----------------+--------------+---------------+--------------+

In [ ]:
# Filtrando duas cidades

df.filter((F.col('cidade') == 'Rio de Janeiro') | (F.col('cidade') == 'Sobral')).show()

+---+-----------------+--------------+---------------+--------------+
| id|             nome|           cpf|        celular|        cidade|
+---+-----------------+--------------+---------------+--------------+
|  1| Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|
|  3|Priscila Medeiros|777.777.777-77|(77)7.7777-7777|Rio de Janeiro|
|  4|    Roberto Diniz|666.666.666-66|(66)6.6666-6666|        Sobral|
+---+-----------------+--------------+---------------+--------------+

In [ ]:
# Outra forma
df.filter(" cidade = 'Rio de Janeiro' or cidade = 'Sobral' ").show()

+---+-----------------+--------------+---------------+--------------+
| id|             nome|           cpf|        celular|        cidade|
+---+-----------------+--------------+---------------+--------------+
|  1| Oswaldo da Silva|999.999.999-99|(99)9.9999-9999|        Sobral|
|  3|Priscila Medeiros|777.777.777-77|(77)7.7777-7777|Rio de Janeiro|
|  4|    Roberto Diniz|666.666.666-66|(66)6.6666-6666|        Sobral|
+---+-----------------+--------------+---------------+--------------+

#‚ñ∂ 7 Select and Filter

In [ ]:
# Mostrando nome, cpf e cidade daqueles que s√£o do 'Rio de Janeiro' ou 'Sobral'

(df.select(F.col('nome'),F.col('cpf'),F.col('cidade')).filter((F.col('cidade')=='Rio de Janeiro') | (F.col('cidade')=='Sobral')).show())

+-----------------+--------------+--------------+
|             nome|           cpf|        cidade|
+-----------------+--------------+--------------+
| Oswaldo da Silva|999.999.999-99|        Sobral|
|Priscila Medeiros|777.777.777-77|Rio de Janeiro|
|    Roberto Diniz|666.666.666-66|        Sobral|
+-----------------+--------------+--------------+

# ‚ñ∂ 8 Extra√ß√£o DataSet

In [ ]:
df = (spark.read.format('csv').option('header','true')
                              .option('inferschema','true')
                              .load('/content/drive/MyDrive/Colab Notebooks/compras.csv',sep=';'))

## ‚óº 8.1 Pr√©-an√°lise

***Esse DataFrame √© referente a uma pequena quantidade de dados que ser√° utilizado apenas para consolida√ß√£o de conhecimentos sobre a biblioteca Pyspark.***

**Observa√ß√µes:**


1.   Nome dos schemas sem padr√£o. Renomear **|>**
2.   Data_Nascimento e Assinatura s√£o datas **|>**

In [ ]:
#Visualizando os schemas
df.printSchema()

root
 |-- Username: string (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Data_Nascimento: string (nullable = true)
 |-- Ocupa√ß√£o: string (nullable = true)
 |-- Assinatura: string (nullable = true)
 |-- Total_Gasto : double (nullable = true)

In [ ]:
#Visualiza√ß√£o do DataFrame
df.show(truncate=False)

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+
|Username     |Nome                     |Sexo     |Data_Nascimento|Ocupa√ß√£o                           |Assinatura|Total_Gasto |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Intelig√™ncia de Mercado|01/10/2021|1257.45     |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99      |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77     |
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76      |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07      |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04      |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81     |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95       |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estat√≠stico                        |21/11/2020|130.73      |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72     |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74     |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Intelig√™ncia de Mercado|23/12/2022|1320.04     |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72     |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+

### ‚óº 8.1.1 Filtros

**Filtros propostos em sala pelo professor.**

In [ ]:
#Mostrar apenas Username, Sexo, Ocupa√ß√£o e Total Gasto
df.select(F.col('Username'),F.col('Sexo'),F.col('Ocupa√ß√£o'),F.col('Total_Gasto ')).show(truncate=False)

+-------------+---------+-----------------------------------+------------+
|Username     |Sexo     |Ocupa√ß√£o                           |Total_Gasto |
+-------------+---------+-----------------------------------+------------+
|Neaude1978   |masculino|Analista de Intelig√™ncia de Mercado|1257.45     |
|Maress39     |feminino |Arquiteto de Dados                 |771.99      |
|Kehonell     |feminino |Analista de RH                     |1021.77     |
|Thimpay      |feminino |Arquiteto de Dados                 |234.76      |
|Giall1985    |feminino |Engenheiro de Dados                |628.07      |
|Neave1959    |feminino |Engenheiro de Dados                |140.04      |
|Nicterims1993|masculino|Engenheiro de Dados                |2417.81     |
|Fouldlairity |masculino|Analista Financeiro                |51.95       |
|Ancomettiody |feminino |Estat√≠stico                        |130.73      |
|Onswis       |feminino |Engenheiro de Machine Learning     |1778.72     |
|Majeappre    |feminino |Gerente de Tecnologia              |1034.74     |
|Theired      |masculino|Analista de Intelig√™ncia de Mercado|1320.04     |
|Botter       |feminino |Web Designer                       |3464.72     |
+-------------+---------+-----------------------------------+------------+

In [ ]:
#Mostrar apenas Username, Sexo, Ocupa√ß√£o e Total Gasto apenas quando o total for maior que 1000

df.select(F.col('Username'),F.col('Sexo'),F.col('Ocupa√ß√£o'),F.col('Total_Gasto ')).filter(F.col('Total_Gasto ') > 1000).show(truncate=False)

+-------------+---------+-----------------------------------+------------+
|Username     |Sexo     |Ocupa√ß√£o                           |Total_Gasto |
+-------------+---------+-----------------------------------+------------+
|Neaude1978   |masculino|Analista de Intelig√™ncia de Mercado|1257.45     |
|Kehonell     |feminino |Analista de RH                     |1021.77     |
|Nicterims1993|masculino|Engenheiro de Dados                |2417.81     |
|Onswis       |feminino |Engenheiro de Machine Learning     |1778.72     |
|Majeappre    |feminino |Gerente de Tecnologia              |1034.74     |
|Theired      |masculino|Analista de Intelig√™ncia de Mercado|1320.04     |
|Botter       |feminino |Web Designer                       |3464.72     |
+-------------+---------+-----------------------------------+------------+

In [ ]:
#Mostrar apenas Username, Sexo, Ocupa√ß√£o e Total Gasto apenas quando o total for maior que 1000 e menor que 2000

(df.select(F.col('Username'),F.col('Sexo'),F.col('Ocupa√ß√£o'),F.col('Total_Gasto '))
    .filter((F.col('Total_Gasto ') > 1000) & (F.col('Total_Gasto ') < 2000)).show(truncate=False))

+----------+---------+-----------------------------------+------------+
|Username  |Sexo     |Ocupa√ß√£o                           |Total_Gasto |
+----------+---------+-----------------------------------+------------+
|Neaude1978|masculino|Analista de Intelig√™ncia de Mercado|1257.45     |
|Kehonell  |feminino |Analista de RH                     |1021.77     |
|Onswis    |feminino |Engenheiro de Machine Learning     |1778.72     |
|Majeappre |feminino |Gerente de Tecnologia              |1034.74     |
|Theired   |masculino|Analista de Intelig√™ncia de Mercado|1320.04     |
+----------+---------+-----------------------------------+------------+

## ‚óº 8.2 Tratamento | Limpeza

### ‚óº 8.2.2 Backup

In [ ]:
df_backup = df

### ‚óº 8.2.3 sumary

In [ ]:
df.summary().show()

+-------+------------+--------------------+---------+---------------+-------------------+----------+------------------+
|summary|    Username|                Nome|     Sexo|Data_Nascimento|           Ocupa√ß√£o|Assinatura|      Total_Gasto |
+-------+------------+--------------------+---------+---------------+-------------------+----------+------------------+
|  count|          13|                  13|       13|             13|                 13|        13|                13|
|   mean|        null|                null|     null|           null|               null|      null|1096.3684615384614|
| stddev|        null|                null|     null|           null|               null|      null| 996.2833119553741|
|    min|Ancomettiody|  Mr \tbailey Glo...| feminino|     01/07/1983|Analista Financeiro|01/10/2021|             51.95|
|    25%|        null|                null|     null|           null|               null|      null|            234.76|
|    50%|        null|                null|     null|           null|               null|      null|           1021.77|
|    75%|        null|                null|     null|           null|               null|      null|           1320.04|
|    max|     Thimpay|    Ms zoe \tPeacock|masculino|     28/06/1949|       Web Designer|29/01/2021|           3464.72|
+-------+------------+--------------------+---------+---------------+-------------------+----------+------------------+

### ‚óº 8.2.4 Verificando quantidade valores nulos

In [ ]:
total = df.count()
distintos = df.distinct().count()
nulos = total - distintos
print(nulos)

0

### ‚óº 8.2.5 Renomeando colunas

In [ ]:
df = (df.withColumnRenamed('username','usuario')
        .withColumnRenamed('Nome','nome')
        .withColumnRenamed('Sexo','sexo')
        .withColumnRenamed('Data_Nascimento','data_nascimento')
        .withColumnRenamed('Ocupa√ß√£o','ocupacao')
        .withColumnRenamed('Assinatura','data_assinatura')
        .withColumnRenamed('Total_Gasto ','total_gasto'))

###‚óº 8.2.6 Substuindo valores nulos

**Essa DataFrame n√£o tem valores nulos, mas caso tivessem eu poderia utilizar o c√≥digo abaixo.**

**observa√ß√£o:**

**.fillna** -> Substituir os valores nulos

**'NA'** -> valor substituto

**subsets** -> colunas que receber√£o mudan√ßas

In [ ]:
df.fillna('NA',subset=['usuario','nome','sexo'])

DataFrame[usuario: string, nome: string, sexo: string, data_nascimento: string, ocupacao: string, data_assinatura: string, total_gasto: double]

###‚óº 8.2.7 Separando coluna data_nascimento

In [ ]:
df.select('data_nascimento').show()

+---------------+
|data_nascimento|
+---------------+
|     01/12/1979|
|     04/08/1960|
|     28/06/1949|
|     07/01/1995|
|     04/04/1987|
|     02/02/1970|
|     05/07/1985|
|     03/06/1964|
|     04/09/1974|
|     01/07/1983|
|     03/01/1971|
|     06/09/1951|
|     09/03/1991|
+---------------+

In [ ]:
#Criando colunas dia, mes e ano

df_data_separada = (df.select('data_nascimento')
                      .withColumn('dia',F.substring('data_nascimento',1,2))
                      .withColumn('mes',F.substring('data_nascimento',4,2))
                      .withColumn('ano',F.substring('data_nascimento',7,4)))

In [ ]:
df_data_separada.show()

+---------------+---+---+----+
|data_nascimento|dia|mes| ano|
+---------------+---+---+----+
|     01/12/1979| 01| 12|1979|
|     04/08/1960| 04| 08|1960|
|     28/06/1949| 28| 06|1949|
|     07/01/1995| 07| 01|1995|
|     04/04/1987| 04| 04|1987|
|     02/02/1970| 02| 02|1970|
|     05/07/1985| 05| 07|1985|
|     03/06/1964| 03| 06|1964|
|     04/09/1974| 04| 09|1974|
|     01/07/1983| 01| 07|1983|
|     03/01/1971| 03| 01|1971|
|     06/09/1951| 06| 09|1951|
|     09/03/1991| 09| 03|1991|
+---------------+---+---+----+

In [ ]:
df

DataFrame[usuario: string, nome: string, sexo: string, data_nascimento: string, ocupacao: string, data_assinatura: string, total_gasto: double]

###‚óº 8.2.8 Removendo duplicados

**Existem duas formas:**
1. .dropDuplicates( )
2. .distinct( )

In [ ]:
df.dropDuplicates()

DataFrame[usuario: string, nome: string, sexo: string, data_nascimento: string, ocupacao: string, data_assinatura: string, total_gasto: double]

In [ ]:
df.distinct()

DataFrame[usuario: string, nome: string, sexo: string, data_nascimento: string, ocupacao: string, data_assinatura: string, total_gasto: double]

### ‚óº 8.2.9 Exemplo: removendo coluna

***Nessa DataFrame n√£o ser√° necess√°rio remover nenhuma coluna, mas caso precisasse utilizaria a fun√ß√£o abaixo:***

In [ ]:
df.drop('data_assinatura').show()

+-------------+--------------------+---------+---------------+--------------------+-----------+
|      usuario|                nome|     sexo|data_nascimento|            ocupacao|total_gasto|
+-------------+--------------------+---------+---------------+--------------------+-----------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|    1257.45|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|     771.99|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|    1021.77|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|     234.76|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|     628.07|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|     140.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|    2417.81|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|      51.95|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estat√≠stico|     130.73|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|    1778.72|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|    1034.74|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|    1320.04|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|    3464.72|
+-------------+--------------------+---------+---------------+--------------------+-----------+

###‚óº 8.2.10 Alterando coluna sexo

**Praticando o comando when e otherwise**

In [ ]:
# ALTERAR VALORES DENTRO DA COLUNA. f - feminino & m - masculino

df2 = (df.withColumn('sexo',F.when(F.col('sexo') == 'feminino',F.regexp_replace('sexo','feminino','f'))
                             .when(F.col('sexo') == 'masculino',F.regexp_replace('sexo','masculino','m'))
                             .otherwise('N√£o definido')))

In [ ]:
df2.show()

+-------------+--------------------+----+---------------+--------------------+---------------+-----------+
|      usuario|                nome|sexo|data_nascimento|            ocupacao|data_assinatura|total_gasto|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+
|   Neaude1978|  Mr \tbailey Glo...|   m|     01/12/1979|Analista de Intel...|     01/10/2021|    1257.45|
|     Maress39|Mrs  \t isabella ...|   f|     04/08/1960|  Arquiteto de Dados|     24/03/2020|     771.99|
|     Kehonell| Mrs Chloe \tKirby  |   f|     28/06/1949|      Analista de RH|     07/06/2020|    1021.77|
|      Thimpay| Mrs louise \tCla...|   f|     07/01/1995|  Arquiteto de Dados|     03/11/2020|     234.76|
|    Giall1985|Mr Harrison \t Bowen|   f|     04/04/1987| Engenheiro de Dados|     25/03/2020|     628.07|
|    Neave1959|Mrs anna \t     S...|   f|     02/02/1970| Engenheiro de Dados|     18/09/2020|     140.04|
|Nicterims1993|  Mrs \tDaisy And...|   m|     05/07/1985| Engenheiro de Dados|     29/01/2021|    2417.81|
| Fouldlairity|    Ms zoe \tPeacock|   m|     03/06/1964| Analista Financeiro|     04/12/2020|      51.95|
| Ancomettiody| Mrs Libby \tWill...|   f|     04/09/1974|         Estat√≠stico|     21/11/2020|     130.73|
|       Onswis| Ms Katie \tMmtcalfe|   f|     01/07/1983|Engenheiro de Mac...|     27/02/2021|    1778.72|
|    Majeappre|   Mr Luca \tVaughan|   f|     03/01/1971|Gerente de Tecnol...|     15/07/2022|    1034.74|
|      Theired|   Mr Henry \tHaynes|   m|     06/09/1951|Analista de Intel...|     23/12/2022|    1320.04|
|       Botter|    Mr Noah \tWalton|   f|     09/03/1991|        Web Designer|     26/07/2022|    3464.72|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+

###‚óº 8.2.11 Convertendo colunas Strings para Date

In [ ]:
#Convers√£o da coluna data_nascimento e data_assinatura para Date

df2 = df2.withColumn('data_nascimento',F.to_date('data_nascimento','dd/MM/yyyy')).withColumn('data_assinatura',F.to_date('data_assinatura','dd/MM/yyyy'))
df2.show()

+-------------+--------------------+----+---------------+--------------------+---------------+-----------+
|      usuario|                nome|sexo|data_nascimento|            ocupacao|data_assinatura|total_gasto|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+
|   Neaude1978|  Mr \tbailey Glo...|   m|     1979-12-01|Analista de Intel...|     2021-10-01|    1257.45|
|     Maress39|Mrs  \t isabella ...|   f|     1960-08-04|  Arquiteto de Dados|     2020-03-24|     771.99|
|     Kehonell| Mrs Chloe \tKirby  |   f|     1949-06-28|      Analista de RH|     2020-06-07|    1021.77|
|      Thimpay| Mrs louise \tCla...|   f|     1995-01-07|  Arquiteto de Dados|     2020-11-03|     234.76|
|    Giall1985|Mr Harrison \t Bowen|   f|     1987-04-04| Engenheiro de Dados|     2020-03-25|     628.07|
|    Neave1959|Mrs anna \t     S...|   f|     1970-02-02| Engenheiro de Dados|     2020-09-18|     140.04|
|Nicterims1993|  Mrs \tDaisy And...|   m|     1985-07-05| Engenheiro de Dados|     2021-01-29|    2417.81|
| Fouldlairity|    Ms zoe \tPeacock|   m|     1964-06-03| Analista Financeiro|     2020-12-04|      51.95|
| Ancomettiody| Mrs Libby \tWill...|   f|     1974-09-04|         Estat√≠stico|     2020-11-21|     130.73|
|       Onswis| Ms Katie \tMmtcalfe|   f|     1983-07-01|Engenheiro de Mac...|     2021-02-27|    1778.72|
|    Majeappre|   Mr Luca \tVaughan|   f|     1971-01-03|Gerente de Tecnol...|     2022-07-15|    1034.74|
|      Theired|   Mr Henry \tHaynes|   m|     1951-09-06|Analista de Intel...|     2022-12-23|    1320.04|
|       Botter|    Mr Noah \tWalton|   f|     1991-03-09|        Web Designer|     2022-07-26|    3464.72|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+

In [ ]:
# Verificando o tipo
df2.dtypes

[('usuario', 'string'),
 ('nome', 'string'),
 ('sexo', 'string'),
 ('data_nascimento', 'date'),
 ('ocupacao', 'string'),
 ('data_assinatura', 'date'),
 ('total_gasto', 'double')]

###‚óº 8.2.12 Criando uma coluna data tipo Br

**Poderia ser criado uma nova coluna de data no formato utilizado no Brasil, caso houvesse necessidade.**

In [ ]:
df2 = df2.withColumn('data_br',F.date_format('data_nascimento','dd/MM/yyyy'))
df2.show()

+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+
|      usuario|                nome|sexo|data_nascimento|            ocupacao|data_assinatura|total_gasto|   data_br|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+
|   Neaude1978|  Mr \tbailey Glo...|   m|     1979-12-01|Analista de Intel...|     2021-10-01|    1257.45|01/12/1979|
|     Maress39|Mrs  \t isabella ...|   f|     1960-08-04|  Arquiteto de Dados|     2020-03-24|     771.99|04/08/1960|
|     Kehonell| Mrs Chloe \tKirby  |   f|     1949-06-28|      Analista de RH|     2020-06-07|    1021.77|28/06/1949|
|      Thimpay| Mrs louise \tCla...|   f|     1995-01-07|  Arquiteto de Dados|     2020-11-03|     234.76|07/01/1995|
|    Giall1985|Mr Harrison \t Bowen|   f|     1987-04-04| Engenheiro de Dados|     2020-03-25|     628.07|04/04/1987|
|    Neave1959|Mrs anna \t     S...|   f|     1970-02-02| Engenheiro de Dados|     2020-09-18|     140.04|02/02/1970|
|Nicterims1993|  Mrs \tDaisy And...|   m|     1985-07-05| Engenheiro de Dados|     2021-01-29|    2417.81|05/07/1985|
| Fouldlairity|    Ms zoe \tPeacock|   m|     1964-06-03| Analista Financeiro|     2020-12-04|      51.95|03/06/1964|
| Ancomettiody| Mrs Libby \tWill...|   f|     1974-09-04|         Estat√≠stico|     2020-11-21|     130.73|04/09/1974|
|       Onswis| Ms Katie \tMmtcalfe|   f|     1983-07-01|Engenheiro de Mac...|     2021-02-27|    1778.72|01/07/1983|
|    Majeappre|   Mr Luca \tVaughan|   f|     1971-01-03|Gerente de Tecnol...|     2022-07-15|    1034.74|03/01/1971|
|      Theired|   Mr Henry \tHaynes|   m|     1951-09-06|Analista de Intel...|     2022-12-23|    1320.04|06/09/1951|
|       Botter|    Mr Noah \tWalton|   f|     1991-03-09|        Web Designer|     2022-07-26|    3464.72|09/03/1991|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+

##‚ñ∂ 8.3 Outros comandos | filtros

### ‚óº 8.3.1 Fun√ß√µes DATE

1. F.datediff (data_final, data_inicial) - Retorna a diferen√ßa em dias entre duas datas

2. F.months_between (data_final, data_inicial) - Retorna a diferen√ßa em meses entre duas datas

3. F.year( ), F.month( ), F.next_day( ), F.weekofyear

4. dayofweek, dayofmonth(), dayofyear

In [ ]:
#Exemplo 1 

df2.withColumn('dif_DataNasc_DataAss_dias',F.datediff('data_assinatura','data_nascimento')).show()

+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+-------------------------+
|      usuario|                nome|sexo|data_nascimento|            ocupacao|data_assinatura|total_gasto|   data_br|dif_DataNasc_DataAss_dias|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+-------------------------+
|   Neaude1978|  Mr \tbailey Glo...|   m|     1979-12-01|Analista de Intel...|     2021-10-01|    1257.45|01/12/1979|                    15280|
|     Maress39|Mrs  \t isabella ...|   f|     1960-08-04|  Arquiteto de Dados|     2020-03-24|     771.99|04/08/1960|                    21782|
|     Kehonell| Mrs Chloe \tKirby  |   f|     1949-06-28|      Analista de RH|     2020-06-07|    1021.77|28/06/1949|                    25912|
|      Thimpay| Mrs louise \tCla...|   f|     1995-01-07|  Arquiteto de Dados|     2020-11-03|     234.76|07/01/1995|                     9432|
|    Giall1985|Mr Harrison \t Bowen|   f|     1987-04-04| Engenheiro de Dados|     2020-03-25|     628.07|04/04/1987|                    12044|
|    Neave1959|Mrs anna \t     S...|   f|     1970-02-02| Engenheiro de Dados|     2020-09-18|     140.04|02/02/1970|                    18491|
|Nicterims1993|  Mrs \tDaisy And...|   m|     1985-07-05| Engenheiro de Dados|     2021-01-29|    2417.81|05/07/1985|                    12992|
| Fouldlairity|    Ms zoe \tPeacock|   m|     1964-06-03| Analista Financeiro|     2020-12-04|      51.95|03/06/1964|                    20638|
| Ancomettiody| Mrs Libby \tWill...|   f|     1974-09-04|         Estat√≠stico|     2020-11-21|     130.73|04/09/1974|                    16880|
|       Onswis| Ms Katie \tMmtcalfe|   f|     1983-07-01|Engenheiro de Mac...|     2021-02-27|    1778.72|01/07/1983|                    13756|
|    Majeappre|   Mr Luca \tVaughan|   f|     1971-01-03|Gerente de Tecnol...|     2022-07-15|    1034.74|03/01/1971|                    18821|
|      Theired|   Mr Henry \tHaynes|   m|     1951-09-06|Analista de Intel...|     2022-12-23|    1320.04|06/09/1951|                    26041|
|       Botter|    Mr Noah \tWalton|   f|     1991-03-09|        Web Designer|     2022-07-26|    3464.72|09/03/1991|                    11462|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+-------------------------+

In [ ]:
# Exemplo 2

df2.withColumn('dif_DataNasc_DataAss_mes',F.months_between('data_assinatura','data_nascimento')).show()

+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+------------------------+
|      usuario|                nome|sexo|data_nascimento|            ocupacao|data_assinatura|total_gasto|   data_br|dif_DataNasc_DataAss_mes|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+------------------------+
|   Neaude1978|  Mr \tbailey Glo...|   m|     1979-12-01|Analista de Intel...|     2021-10-01|    1257.45|01/12/1979|                   502.0|
|     Maress39|Mrs  \t isabella ...|   f|     1960-08-04|  Arquiteto de Dados|     2020-03-24|     771.99|04/08/1960|            715.64516129|
|     Kehonell| Mrs Chloe \tKirby  |   f|     1949-06-28|      Analista de RH|     2020-06-07|    1021.77|28/06/1949|            851.32258065|
|      Thimpay| Mrs louise \tCla...|   f|     1995-01-07|  Arquiteto de Dados|     2020-11-03|     234.76|07/01/1995|            309.87096774|
|    Giall1985|Mr Harrison \t Bowen|   f|     1987-04-04| Engenheiro de Dados|     2020-03-25|     628.07|04/04/1987|            395.67741935|
|    Neave1959|Mrs anna \t     S...|   f|     1970-02-02| Engenheiro de Dados|     2020-09-18|     140.04|02/02/1970|            607.51612903|
|Nicterims1993|  Mrs \tDaisy And...|   m|     1985-07-05| Engenheiro de Dados|     2021-01-29|    2417.81|05/07/1985|            426.77419355|
| Fouldlairity|    Ms zoe \tPeacock|   m|     1964-06-03| Analista Financeiro|     2020-12-04|      51.95|03/06/1964|            678.03225806|
| Ancomettiody| Mrs Libby \tWill...|   f|     1974-09-04|         Estat√≠stico|     2020-11-21|     130.73|04/09/1974|             554.5483871|
|       Onswis| Ms Katie \tMmtcalfe|   f|     1983-07-01|Engenheiro de Mac...|     2021-02-27|    1778.72|01/07/1983|            451.83870968|
|    Majeappre|   Mr Luca \tVaughan|   f|     1971-01-03|Gerente de Tecnol...|     2022-07-15|    1034.74|03/01/1971|            618.38709677|
|      Theired|   Mr Henry \tHaynes|   m|     1951-09-06|Analista de Intel...|     2022-12-23|    1320.04|06/09/1951|             855.5483871|
|       Botter|    Mr Noah \tWalton|   f|     1991-03-09|        Web Designer|     2022-07-26|    3464.72|09/03/1991|             376.5483871|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+------------------------+

### ‚óº 8.3.2 Where

In [ ]:
df.where(F.col('total_gasto') > 1000).show()

+-------------+--------------------+---------+---------------+--------------------+---------------+-----------+
|      usuario|                nome|     sexo|data_nascimento|            ocupacao|data_assinatura|total_gasto|
+-------------+--------------------+---------+---------------+--------------------+---------------+-----------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|     01/10/2021|    1257.45|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|     07/06/2020|    1021.77|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|     29/01/2021|    2417.81|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|     27/02/2021|    1778.72|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|     15/07/2022|    1034.74|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|     23/12/2022|    1320.04|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|     26/07/2022|    3464.72|
+-------------+--------------------+---------+---------------+--------------------+---------------+-----------+

### ‚óº 8.3.3 filter

In [ ]:
#Fa√ßa um filtro por ocupa√ß√£o que comece com analista

df.filter("ocupacao LIKE 'Analista%'").show(truncate=False)

+------------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+
|usuario     |nome                  |sexo     |data_nascimento|ocupacao                           |data_assinatura|total_gasto|
+------------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+
|Neaude1978  |  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Intelig√™ncia de Mercado|01/10/2021     |1257.45    |
|Kehonell    | Mrs Chloe \tKirby    |feminino |28/06/1949     |Analista de RH                     |07/06/2020     |1021.77    |
|Fouldlairity|Ms zoe \tPeacock      |masculino|03/06/1964     |Analista Financeiro                |04/12/2020     |51.95      |
|Theired     |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Intelig√™ncia de Mercado|23/12/2022     |1320.04    |
+------------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+

In [ ]:
#Usando a fun√ß√£o startwith

df.filter(F.col('ocupacao').startswith('Analista')).show(truncate=False)

+------------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+
|usuario     |nome                  |sexo     |data_nascimento|ocupacao                           |data_assinatura|total_gasto|
+------------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+
|Neaude1978  |  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Intelig√™ncia de Mercado|01/10/2021     |1257.45    |
|Kehonell    | Mrs Chloe \tKirby    |feminino |28/06/1949     |Analista de RH                     |07/06/2020     |1021.77    |
|Fouldlairity|Ms zoe \tPeacock      |masculino|03/06/1964     |Analista Financeiro                |04/12/2020     |51.95      |
|Theired     |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Intelig√™ncia de Mercado|23/12/2022     |1320.04    |
+------------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+

In [ ]:
#Usando a fun√ß√£o Like

df.filter(F.col('ocupacao').like('Analista%')).show(truncate=False)

+------------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+
|usuario     |nome                  |sexo     |data_nascimento|ocupacao                           |data_assinatura|total_gasto|
+------------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+
|Neaude1978  |  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Intelig√™ncia de Mercado|01/10/2021     |1257.45    |
|Kehonell    | Mrs Chloe \tKirby    |feminino |28/06/1949     |Analista de RH                     |07/06/2020     |1021.77    |
|Fouldlairity|Ms zoe \tPeacock      |masculino|03/06/1964     |Analista Financeiro                |04/12/2020     |51.95      |
|Theired     |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Intelig√™ncia de Mercado|23/12/2022     |1320.04    |
+------------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+

In [ ]:
#Fa√ßa um filtro por ocupa√ß√£o que termine com Mercado

df.filter(F.col('ocupacao').endswith('Mercado')).show(truncate=False)

+----------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+
|usuario   |nome                  |sexo     |data_nascimento|ocupacao                           |data_assinatura|total_gasto|
+----------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+
|Neaude1978|  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Intelig√™ncia de Mercado|01/10/2021     |1257.45    |
|Theired   |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Intelig√™ncia de Mercado|23/12/2022     |1320.04    |
+----------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+

In [ ]:
#Fa√ßa um filto que contenha a palavra intelig√™ncia em qualquer parte da ocupa√ß√£o

df.filter(F.col('ocupacao').contains('Intelig√™ncia')).show(truncate=False)

+----------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+
|usuario   |nome                  |sexo     |data_nascimento|ocupacao                           |data_assinatura|total_gasto|
+----------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+
|Neaude1978|  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Intelig√™ncia de Mercado|01/10/2021     |1257.45    |
|Theired   |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Intelig√™ncia de Mercado|23/12/2022     |1320.04    |
+----------+----------------------+---------+---------------+-----------------------------------+---------------+-----------+

###‚óº 8.3.4 distinct

In [ ]:
#Retornar todas as ocupa√ß√µes existentes,cada um aparecendo uma √∫nica vez

df.select('ocupacao').distinct().show(truncate=False)

+-----------------------------------+
|ocupacao                           |
+-----------------------------------+
|Engenheiro de Machine Learning     |
|Arquiteto de Dados                 |
|Estat√≠stico                        |
|Analista de RH                     |
|Engenheiro de Dados                |
|Analista Financeiro                |
|Gerente de Tecnologia              |
|Web Designer                       |
|Analista de Intelig√™ncia de Mercado|
+-----------------------------------+

###‚óº 8.3.5 orderBy

In [ ]:
#Ordenar o DataFrame de maneira decrescente pela coluna usu√°rio

df2.orderBy(F.col('usuario').desc()).show()

+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+
|      usuario|                nome|sexo|data_nascimento|            ocupacao|data_assinatura|total_gasto|   data_br|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+
|      Thimpay| Mrs louise \tCla...|   f|     1995-01-07|  Arquiteto de Dados|     2020-11-03|     234.76|07/01/1995|
|      Theired|   Mr Henry \tHaynes|   m|     1951-09-06|Analista de Intel...|     2022-12-23|    1320.04|06/09/1951|
|       Onswis| Ms Katie \tMmtcalfe|   f|     1983-07-01|Engenheiro de Mac...|     2021-02-27|    1778.72|01/07/1983|
|Nicterims1993|  Mrs \tDaisy And...|   m|     1985-07-05| Engenheiro de Dados|     2021-01-29|    2417.81|05/07/1985|
|    Neave1959|Mrs anna \t     S...|   f|     1970-02-02| Engenheiro de Dados|     2020-09-18|     140.04|02/02/1970|
|   Neaude1978|  Mr \tbailey Glo...|   m|     1979-12-01|Analista de Intel...|     2021-10-01|    1257.45|01/12/1979|
|     Maress39|Mrs  \t isabella ...|   f|     1960-08-04|  Arquiteto de Dados|     2020-03-24|     771.99|04/08/1960|
|    Majeappre|   Mr Luca \tVaughan|   f|     1971-01-03|Gerente de Tecnol...|     2022-07-15|    1034.74|03/01/1971|
|     Kehonell| Mrs Chloe \tKirby  |   f|     1949-06-28|      Analista de RH|     2020-06-07|    1021.77|28/06/1949|
|    Giall1985|Mr Harrison \t Bowen|   f|     1987-04-04| Engenheiro de Dados|     2020-03-25|     628.07|04/04/1987|
| Fouldlairity|    Ms zoe \tPeacock|   m|     1964-06-03| Analista Financeiro|     2020-12-04|      51.95|03/06/1964|
|       Botter|    Mr Noah \tWalton|   f|     1991-03-09|        Web Designer|     2022-07-26|    3464.72|09/03/1991|
| Ancomettiody| Mrs Libby \tWill...|   f|     1974-09-04|         Estat√≠stico|     2020-11-21|     130.73|04/09/1974|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+

In [ ]:
#RETORNAR usu√°rio, data de nascimento e ocupa√ß√£o ordenado pelo usu√°rio em ordem crescente (A-Z)

df2.select('usuario','data_nascimento','ocupacao').orderBy(F.col('ocupacao').asc()).show(truncate=False)

+-------------+---------------+-----------------------------------+
|usuario      |data_nascimento|ocupacao                           |
+-------------+---------------+-----------------------------------+
|Fouldlairity |1964-06-03     |Analista Financeiro                |
|Neaude1978   |1979-12-01     |Analista de Intelig√™ncia de Mercado|
|Theired      |1951-09-06     |Analista de Intelig√™ncia de Mercado|
|Kehonell     |1949-06-28     |Analista de RH                     |
|Thimpay      |1995-01-07     |Arquiteto de Dados                 |
|Maress39     |1960-08-04     |Arquiteto de Dados                 |
|Nicterims1993|1985-07-05     |Engenheiro de Dados                |
|Giall1985    |1987-04-04     |Engenheiro de Dados                |
|Neave1959    |1970-02-02     |Engenheiro de Dados                |
|Onswis       |1983-07-01     |Engenheiro de Machine Learning     |
|Ancomettiody |1974-09-04     |Estat√≠stico                        |
|Majeappre    |1971-01-03     |Gerente de Tecnologia              |
|Botter       |1991-03-09     |Web Designer                       |
+-------------+---------------+-----------------------------------+

In [ ]:
#RETORNAR usu√°rio, data de nascimento e ocupa√ß√£o ordenado pelo usu√°rio em ordem descrescente

df2.select('usuario','data_nascimento','ocupacao').orderBy(F.col('ocupacao').desc()).show(truncate=False)

+-------------+---------------+-----------------------------------+
|usuario      |data_nascimento|ocupacao                           |
+-------------+---------------+-----------------------------------+
|Botter       |1991-03-09     |Web Designer                       |
|Majeappre    |1971-01-03     |Gerente de Tecnologia              |
|Ancomettiody |1974-09-04     |Estat√≠stico                        |
|Onswis       |1983-07-01     |Engenheiro de Machine Learning     |
|Giall1985    |1987-04-04     |Engenheiro de Dados                |
|Nicterims1993|1985-07-05     |Engenheiro de Dados                |
|Neave1959    |1970-02-02     |Engenheiro de Dados                |
|Maress39     |1960-08-04     |Arquiteto de Dados                 |
|Thimpay      |1995-01-07     |Arquiteto de Dados                 |
|Kehonell     |1949-06-28     |Analista de RH                     |
|Neaude1978   |1979-12-01     |Analista de Intelig√™ncia de Mercado|
|Theired      |1951-09-06     |Analista de Intelig√™ncia de Mercado|
|Fouldlairity |1964-06-03     |Analista Financeiro                |
+-------------+---------------+-----------------------------------+

In [ ]:
# Retorne em ordem decrescente com ascending

df2.select('usuario','data_nascimento','ocupacao').orderBy(F.col('ocupacao'),ascending=False).show(truncate=False)

+-------------+---------------+-----------------------------------+
|usuario      |data_nascimento|ocupacao                           |
+-------------+---------------+-----------------------------------+
|Botter       |1991-03-09     |Web Designer                       |
|Majeappre    |1971-01-03     |Gerente de Tecnologia              |
|Ancomettiody |1974-09-04     |Estat√≠stico                        |
|Onswis       |1983-07-01     |Engenheiro de Machine Learning     |
|Giall1985    |1987-04-04     |Engenheiro de Dados                |
|Nicterims1993|1985-07-05     |Engenheiro de Dados                |
|Neave1959    |1970-02-02     |Engenheiro de Dados                |
|Maress39     |1960-08-04     |Arquiteto de Dados                 |
|Thimpay      |1995-01-07     |Arquiteto de Dados                 |
|Kehonell     |1949-06-28     |Analista de RH                     |
|Neaude1978   |1979-12-01     |Analista de Intelig√™ncia de Mercado|
|Theired      |1951-09-06     |Analista de Intelig√™ncia de Mercado|
|Fouldlairity |1964-06-03     |Analista Financeiro                |
+-------------+---------------+-----------------------------------+

In [ ]:
#Retornar nome, ocupa√ß√£o e total gasto ordenado pelo total gasto do menor para o maior

df2.select('nome','ocupacao','total_gasto').orderBy(F.col('total_Gasto')).show()

+--------------------+--------------------+-----------+
|                nome|            ocupacao|total_gasto|
+--------------------+--------------------+-----------+
|    Ms zoe \tPeacock| Analista Financeiro|      51.95|
| Mrs Libby \tWill...|         Estat√≠stico|     130.73|
|Mrs anna \t     S...| Engenheiro de Dados|     140.04|
| Mrs louise \tCla...|  Arquiteto de Dados|     234.76|
|Mr Harrison \t Bowen| Engenheiro de Dados|     628.07|
|Mrs  \t isabella ...|  Arquiteto de Dados|     771.99|
| Mrs Chloe \tKirby  |      Analista de RH|    1021.77|
|   Mr Luca \tVaughan|Gerente de Tecnol...|    1034.74|
|  Mr \tbailey Glo...|Analista de Intel...|    1257.45|
|   Mr Henry \tHaynes|Analista de Intel...|    1320.04|
| Ms Katie \tMmtcalfe|Engenheiro de Mac...|    1778.72|
|  Mrs \tDaisy And...| Engenheiro de Dados|    2417.81|
|    Mr Noah \tWalton|        Web Designer|    3464.72|
+--------------------+--------------------+-----------+

In [ ]:
#Retornar nome, ocupa√ß√£o e total gasto ordenado pelo total gasto do maior para o menor

df2.select('Nome','ocupacao','total_gasto').orderBy(F.col('total_gasto').desc()).show()

+--------------------+--------------------+-----------+
|                Nome|            ocupacao|total_gasto|
+--------------------+--------------------+-----------+
|    Mr Noah \tWalton|        Web Designer|    3464.72|
|  Mrs \tDaisy And...| Engenheiro de Dados|    2417.81|
| Ms Katie \tMmtcalfe|Engenheiro de Mac...|    1778.72|
|   Mr Henry \tHaynes|Analista de Intel...|    1320.04|
|  Mr \tbailey Glo...|Analista de Intel...|    1257.45|
|   Mr Luca \tVaughan|Gerente de Tecnol...|    1034.74|
| Mrs Chloe \tKirby  |      Analista de RH|    1021.77|
|Mrs  \t isabella ...|  Arquiteto de Dados|     771.99|
|Mr Harrison \t Bowen| Engenheiro de Dados|     628.07|
| Mrs louise \tCla...|  Arquiteto de Dados|     234.76|
|Mrs anna \t     S...| Engenheiro de Dados|     140.04|
| Mrs Libby \tWill...|         Estat√≠stico|     130.73|
|    Ms zoe \tPeacock| Analista Financeiro|      51.95|
+--------------------+--------------------+-----------+

###‚óº 8.3.6 Sort

In [ ]:
#Ordenar o DataFrame de maneira decrescente pela coluna usu√°rio
df2.sort(F.col('usuario').desc()).show()

+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+
|      usuario|                nome|sexo|data_nascimento|            ocupacao|data_assinatura|total_gasto|   data_br|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+
|      Thimpay| Mrs louise \tCla...|   f|     1995-01-07|  Arquiteto de Dados|     2020-11-03|     234.76|07/01/1995|
|      Theired|   Mr Henry \tHaynes|   m|     1951-09-06|Analista de Intel...|     2022-12-23|    1320.04|06/09/1951|
|       Onswis| Ms Katie \tMmtcalfe|   f|     1983-07-01|Engenheiro de Mac...|     2021-02-27|    1778.72|01/07/1983|
|Nicterims1993|  Mrs \tDaisy And...|   m|     1985-07-05| Engenheiro de Dados|     2021-01-29|    2417.81|05/07/1985|
|    Neave1959|Mrs anna \t     S...|   f|     1970-02-02| Engenheiro de Dados|     2020-09-18|     140.04|02/02/1970|
|   Neaude1978|  Mr \tbailey Glo...|   m|     1979-12-01|Analista de Intel...|     2021-10-01|    1257.45|01/12/1979|
|     Maress39|Mrs  \t isabella ...|   f|     1960-08-04|  Arquiteto de Dados|     2020-03-24|     771.99|04/08/1960|
|    Majeappre|   Mr Luca \tVaughan|   f|     1971-01-03|Gerente de Tecnol...|     2022-07-15|    1034.74|03/01/1971|
|     Kehonell| Mrs Chloe \tKirby  |   f|     1949-06-28|      Analista de RH|     2020-06-07|    1021.77|28/06/1949|
|    Giall1985|Mr Harrison \t Bowen|   f|     1987-04-04| Engenheiro de Dados|     2020-03-25|     628.07|04/04/1987|
| Fouldlairity|    Ms zoe \tPeacock|   m|     1964-06-03| Analista Financeiro|     2020-12-04|      51.95|03/06/1964|
|       Botter|    Mr Noah \tWalton|   f|     1991-03-09|        Web Designer|     2022-07-26|    3464.72|09/03/1991|
| Ancomettiody| Mrs Libby \tWill...|   f|     1974-09-04|         Estat√≠stico|     2020-11-21|     130.73|04/09/1974|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+

###‚óº 8.3.7 groupBy

In [ ]:
#Retornar a quantidade de pessoas por sexo

df2.groupBy('sexo').count().show()

+----+-----+
|sexo|count|
+----+-----+
|   m|    4|
|   f|    9|
+----+-----+

In [ ]:
#Retornar a quantidade de pessoas por ocupa√ß√£o

df2.groupBy('ocupacao').count().show(truncate=False)

+-----------------------------------+-----+
|ocupacao                           |count|
+-----------------------------------+-----+
|Engenheiro de Machine Learning     |1    |
|Arquiteto de Dados                 |2    |
|Estat√≠stico                        |1    |
|Analista de RH                     |1    |
|Engenheiro de Dados                |3    |
|Analista Financeiro                |1    |
|Gerente de Tecnologia              |1    |
|Web Designer                       |1    |
|Analista de Intelig√™ncia de Mercado|2    |
+-----------------------------------+-----+

In [ ]:
#RETORNAR O VALOR TOTAL GASTO POR SEXO 

df2.groupBy('sexo').agg(F.round(F.sum('total_gasto'),2).alias('tota_gasto')).show()

+----+----------+
|sexo|tota_gasto|
+----+----------+
|   m|   5047.25|
|   f|   9205.54|
+----+----------+

In [ ]:
#RETORNAR O VALOR TOTAL GASTO POR OCUPA√á√ÉO

df2.groupBy('ocupacao').sum('total_gasto').show(truncate=False)

+-----------------------------------+----------------+
|ocupacao                           |sum(total_gasto)|
+-----------------------------------+----------------+
|Engenheiro de Machine Learning     |1778.72         |
|Arquiteto de Dados                 |1006.75         |
|Estat√≠stico                        |130.73          |
|Analista de RH                     |1021.77         |
|Engenheiro de Dados                |3185.92         |
|Analista Financeiro                |51.95           |
|Gerente de Tecnologia              |1034.74         |
|Web Designer                       |3464.72         |
|Analista de Intelig√™ncia de Mercado|2577.49         |
+-----------------------------------+----------------+

###‚óº 8.3.8 Fun√ß√£o de agrega√ß√£o

In [ ]:
#RETORNAR O VALOR TOTAL GASTO POR SEXO E O VALOR M√çNIMO E M√ÅXIMO GASTOS POR CADA SEXO

df3 = (df2.groupBy('sexo').agg(F.round(F.sum('total_gasto'),2).alias('total_gasto'),
                                F.min('total_gasto').alias('minimo_gasto'),
                                F.max('total_gasto').alias('maximo_gasto'))) 
                                
df3.show()

+----+-----------+------------+------------+
|sexo|total_gasto|minimo_gasto|maximo_gasto|
+----+-----------+------------+------------+
|   m|    5047.25|       51.95|     2417.81|
|   f|    9205.54|      130.73|     3464.72|
+----+-----------+------------+------------+

###‚óº 8.3.9 Criando novas colunas

**Praticando o comando de crian√ß√£o de colunas e a fun√ß√£o de arredondamento**

In [ ]:
#Coluna contendo 10% de desconto sobre o valor total gasto
df3 = df2.withColumn('desconto',F.round(F.col('total_gasto')*0.1,2))
df3.show()

+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+--------+
|      usuario|                nome|sexo|data_nascimento|            ocupacao|data_assinatura|total_gasto|   data_br|desconto|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+--------+
|   Neaude1978|  Mr \tbailey Glo...|   m|     1979-12-01|Analista de Intel...|     2021-10-01|    1257.45|01/12/1979|  125.75|
|     Maress39|Mrs  \t isabella ...|   f|     1960-08-04|  Arquiteto de Dados|     2020-03-24|     771.99|04/08/1960|    77.2|
|     Kehonell| Mrs Chloe \tKirby  |   f|     1949-06-28|      Analista de RH|     2020-06-07|    1021.77|28/06/1949|  102.18|
|      Thimpay| Mrs louise \tCla...|   f|     1995-01-07|  Arquiteto de Dados|     2020-11-03|     234.76|07/01/1995|   23.48|
|    Giall1985|Mr Harrison \t Bowen|   f|     1987-04-04| Engenheiro de Dados|     2020-03-25|     628.07|04/04/1987|   62.81|
|    Neave1959|Mrs anna \t     S...|   f|     1970-02-02| Engenheiro de Dados|     2020-09-18|     140.04|02/02/1970|    14.0|
|Nicterims1993|  Mrs \tDaisy And...|   m|     1985-07-05| Engenheiro de Dados|     2021-01-29|    2417.81|05/07/1985|  241.78|
| Fouldlairity|    Ms zoe \tPeacock|   m|     1964-06-03| Analista Financeiro|     2020-12-04|      51.95|03/06/1964|     5.2|
| Ancomettiody| Mrs Libby \tWill...|   f|     1974-09-04|         Estat√≠stico|     2020-11-21|     130.73|04/09/1974|   13.07|
|       Onswis| Ms Katie \tMmtcalfe|   f|     1983-07-01|Engenheiro de Mac...|     2021-02-27|    1778.72|01/07/1983|  177.87|
|    Majeappre|   Mr Luca \tVaughan|   f|     1971-01-03|Gerente de Tecnol...|     2022-07-15|    1034.74|03/01/1971|  103.47|
|      Theired|   Mr Henry \tHaynes|   m|     1951-09-06|Analista de Intel...|     2022-12-23|    1320.04|06/09/1951|   132.0|
|       Botter|    Mr Noah \tWalton|   f|     1991-03-09|        Web Designer|     2022-07-26|    3464.72|09/03/1991|  346.47|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+--------+

In [ ]:
#Coluna contendo o valor total gasto menos o desconto
df4 = df3.withColumn('valor_com_desconto',F.round(F.col('total_gasto')-F.col('desconto'),2))
df4.show()

+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+--------+------------------+
|      usuario|                nome|sexo|data_nascimento|            ocupacao|data_assinatura|total_gasto|   data_br|desconto|valor_com_desconto|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+--------+------------------+
|   Neaude1978|  Mr \tbailey Glo...|   m|     1979-12-01|Analista de Intel...|     2021-10-01|    1257.45|01/12/1979|  125.75|            1131.7|
|     Maress39|Mrs  \t isabella ...|   f|     1960-08-04|  Arquiteto de Dados|     2020-03-24|     771.99|04/08/1960|    77.2|            694.79|
|     Kehonell| Mrs Chloe \tKirby  |   f|     1949-06-28|      Analista de RH|     2020-06-07|    1021.77|28/06/1949|  102.18|            919.59|
|      Thimpay| Mrs louise \tCla...|   f|     1995-01-07|  Arquiteto de Dados|     2020-11-03|     234.76|07/01/1995|   23.48|            211.28|
|    Giall1985|Mr Harrison \t Bowen|   f|     1987-04-04| Engenheiro de Dados|     2020-03-25|     628.07|04/04/1987|   62.81|            565.26|
|    Neave1959|Mrs anna \t     S...|   f|     1970-02-02| Engenheiro de Dados|     2020-09-18|     140.04|02/02/1970|    14.0|            126.04|
|Nicterims1993|  Mrs \tDaisy And...|   m|     1985-07-05| Engenheiro de Dados|     2021-01-29|    2417.81|05/07/1985|  241.78|           2176.03|
| Fouldlairity|    Ms zoe \tPeacock|   m|     1964-06-03| Analista Financeiro|     2020-12-04|      51.95|03/06/1964|     5.2|             46.75|
| Ancomettiody| Mrs Libby \tWill...|   f|     1974-09-04|         Estat√≠stico|     2020-11-21|     130.73|04/09/1974|   13.07|            117.66|
|       Onswis| Ms Katie \tMmtcalfe|   f|     1983-07-01|Engenheiro de Mac...|     2021-02-27|    1778.72|01/07/1983|  177.87|           1600.85|
|    Majeappre|   Mr Luca \tVaughan|   f|     1971-01-03|Gerente de Tecnol...|     2022-07-15|    1034.74|03/01/1971|  103.47|            931.27|
|      Theired|   Mr Henry \tHaynes|   m|     1951-09-06|Analista de Intel...|     2022-12-23|    1320.04|06/09/1951|   132.0|           1188.04|
|       Botter|    Mr Noah \tWalton|   f|     1991-03-09|        Web Designer|     2022-07-26|    3464.72|09/03/1991|  346.47|           3118.25|
+-------------+--------------------+----+---------------+--------------------+---------------+-----------+----------+--------+------------------+

In [ ]:
# Coluna contendo o valor total menos 10% de desconto sobre o valor total gasto
df5 = df2.withColumn('valor_com_desconto',F.round(F.col('total_gasto')*0.9,2))
df5.show(truncate=False)

+-------------+-------------------------+----+---------------+-----------------------------------+---------------+-----------+----------+------------------+
|usuario      |nome                     |sexo|data_nascimento|ocupacao                           |data_assinatura|total_gasto|data_br   |valor_com_desconto|
+-------------+-------------------------+----+---------------+-----------------------------------+---------------+-----------+----------+------------------+
|Neaude1978   |  Mr \tbailey Glover     |m   |1979-12-01     |Analista de Intelig√™ncia de Mercado|2021-10-01     |1257.45    |01/12/1979|1131.71           |
|Maress39     |Mrs  \t isabella   Fowler|f   |1960-08-04     |Arquiteto de Dados                 |2020-03-24     |771.99     |04/08/1960|694.79            |
|Kehonell     | Mrs Chloe \tKirby       |f   |1949-06-28     |Analista de RH                     |2020-06-07     |1021.77    |28/06/1949|919.59            |
|Thimpay      | Mrs louise \tClark      |f   |1995-01-07     |Arquiteto de Dados                 |2020-11-03     |234.76     |07/01/1995|211.28            |
|Giall1985    |Mr Harrison \t Bowen     |f   |1987-04-04     |Engenheiro de Dados                |2020-03-25     |628.07     |04/04/1987|565.26            |
|Neave1959    |Mrs anna \t     Sharp    |f   |1970-02-02     |Engenheiro de Dados                |2020-09-18     |140.04     |02/02/1970|126.04            |
|Nicterims1993|  Mrs \tDaisy Anderson   |m   |1985-07-05     |Engenheiro de Dados                |2021-01-29     |2417.81    |05/07/1985|2176.03           |
|Fouldlairity |Ms zoe \tPeacock         |m   |1964-06-03     |Analista Financeiro                |2020-12-04     |51.95      |03/06/1964|46.76             |
|Ancomettiody | Mrs Libby \tWilliams    |f   |1974-09-04     |Estat√≠stico                        |2020-11-21     |130.73     |04/09/1974|117.66            |
|Onswis       |Ms Katie \tMmtcalfe      |f   |1983-07-01     |Engenheiro de Machine Learning     |2021-02-27     |1778.72    |01/07/1983|1600.85           |
|Majeappre    |Mr Luca \tVaughan        |f   |1971-01-03     |Gerente de Tecnologia              |2022-07-15     |1034.74    |03/01/1971|931.27            |
|Theired      |Mr Henry \tHaynes        |m   |1951-09-06     |Analista de Intelig√™ncia de Mercado|2022-12-23     |1320.04    |06/09/1951|1188.04           |
|Botter       |Mr Noah \tWalton         |f   |1991-03-09     |Web Designer                       |2022-07-26     |3464.72    |09/03/1991|3118.25           |
+-------------+-------------------------+----+---------------+-----------------------------------+---------------+-----------+----------+------------------+

In [ ]:
#CRIAR UMA NOVA COLUNA CONTENDO O N√öMERO 1 PARA O SEXO MASCULINO E 2 PARA O SEXO FEMININO

df2.select('sexo').withColumn('id_sexo',F.when(F.col('sexo')=='m',1).otherwise(2)).show()

+----+-------+
|sexo|id_sexo|
+----+-------+
|   m|      1|
|   f|      2|
|   f|      2|
|   f|      2|
|   f|      2|
|   f|      2|
|   m|      1|
|   m|      1|
|   f|      2|
|   f|      2|
|   f|      2|
|   m|      1|
|   f|      2|
+----+-------+

###‚óº 8.3.10 converter pra DataFrame pandas

In [ ]:
df_pandas = df2.toPandas()

In [ ]:
df_pandas

,usuario,nome,sexo,data_nascimento,ocupacao,data_assinatura,total_gasto,data_br
0,Neaude1978,Mr \tbailey Glover,m,1979-12-01,Analista de Intelig√™ncia de Mercado,2021-10-01,1257.45,01/12/1979
1,Maress39,Mrs \t isabella Fowler,f,1960-08-04,Arquiteto de Dados,2020-03-24,771.99,04/08/1960
2,Kehonell,Mrs Chloe \tKirby,f,1949-06-28,Analista de RH,2020-06-07,1021.77,28/06/1949
3,Thimpay,Mrs louise \tClark,f,1995-01-07,Arquiteto de Dados,2020-11-03,234.76,07/01/1995
4,Giall1985,Mr Harrison \t Bowen,f,1987-04-04,Engenheiro de Dados,2020-03-25,628.07,04/04/1987
5,Neave1959,Mrs anna \t Sharp,f,1970-02-02,Engenheiro de Dados,2020-09-18,140.04,02/02/1970
6,Nicterims1993,Mrs \tDaisy Anderson,m,1985-07-05,Engenheiro de Dados,2021-01-29,2417.81,05/07/1985
7,Fouldlairity,Ms zoe \tPeacock,m,1964-06-03,Analista Financeiro,2020-12-04,51.95,03/06/1964
8,Ancomettiody,Mrs Libby \tWilliams,f,1974-09-04,Estat√≠stico,2020-11-21,130.73,04/09/1974
9,Onswis,Ms Katie \tMmtcalfe,f,1983-07-01,Engenheiro de Machine Learning,2021-02-27,1778.72,01/07/1983
10,Majeappre,Mr Luca \tVaughan,f,1971-01-03,Gerente de Tecnologia,2022-07-15,1034.74,03/01/1971
11,Theired,Mr Henry \tHaynes,m,1951-09-06,Analista de Intelig√™ncia de Mercado,2022-12-23,1320.04,06/09/1951
12,Botter,Mr Noah \tWalton,f,1991-03-09,Web Designer,2022-07-26,3464.72,09/03/1991

###‚óº 8.3.11 Salvar DataFrame

**Diferentes formatos.**

In [ ]:

# df2.write.format('csv').mode('overwrite').save('caminho')
# df2.write.format('parquet').mode('overwrite').save('caminho')
# df9.write.format('json').save('caminho')
# df9.write.format('orc').save('caminho')

###‚óº 8.3.12  Joins

**Vou criar dois DataFrames para consolidar o conhecimento do comando Join.**

In [ ]:
# Primeiro DataFrame

schema = ['id', 'nome', 'salario']

dados = [
         (1, 'Jo√£o', 2000), 
         (2, 'Maria', 5000), 
         (3, 'Pedro', 8300),
         (4, 'Gustavo', 1200),
         (5, 'Ana', 10000),
         (6, 'Vitoria', 7500),
         (7, 'Carlos', 4800),
         (8, 'Claudia', 4300),
         (9, 'Andre', 2400),
]
df10 = spark.createDataFrame(dados,schema)

In [ ]:
# Segundo DataFrame

schema2 = ['id', 'cidade', 'estado']

dados2 = [
         (1, 'S√£o Paulo', 'SP'),
         (2, 'Curitiba', 'PR'),
         (3, 'Fortaleza', 'CE'),
         (4, 'Ribeir√£o Preto', 'SP'),
         (8, 'Belo Horizonte', 'MG'),
         (9, 'Goiania', 'GO'),
         (10, 'Sobral', 'CE'),
         (11, 'Salvador', 'BA'),
         (12, 'S√£o Luis', 'MA'),
]

df11 = spark.createDataFrame(dados2,schema2)

####‚óº 8.3.12.1  inner join

**Une apenas aquilo que possui equival√™ncia nos dois DataFrames.**

In [ ]:
df_inner_join = df10.join(df11,on=['id'],how='inner')
df_inner_join.show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   Jo√£o|   2000|     S√£o Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeir√£o Preto|    SP|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
+---+-------+-------+--------------+------+

####‚óº 8.3.12.2 left join

In [ ]:
df_left_join = df10.join(df11,on = ['id'],how='left')
df_left_join.orderBy('id').show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   Jo√£o|   2000|     S√£o Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeir√£o Preto|    SP|
|  5|    Ana|  10000|          null|  null|
|  6|Vitoria|   7500|          null|  null|
|  7| Carlos|   4800|          null|  null|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
+---+-------+-------+--------------+------+

####‚óº 8.3.12.3 right join

In [ ]:
df_right_join = df10.join(df11,on = ['id'],how = 'right')
df_right_join.orderBy('id').show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   Jo√£o|   2000|     S√£o Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeir√£o Preto|    SP|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
| 10|   null|   null|        Sobral|    CE|
| 11|   null|   null|      Salvador|    BA|
| 12|   null|   null|      S√£o Luis|    MA|
+---+-------+-------+--------------+------+