<a href="https://colab.research.google.com/github/Daniel022de/DataEnginner_SoulCode/blob/main/Study%20PySpark/Study_PySpark_WindowFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìó **SPARK - WINDOW FUNCTIONS**

Esse Notebook √© referente as instru√ß√µes feitas pelo professor **Bismark William** no bootcamp **engenharia de dados** da **SoulCode** visando a consolida√ß√£o dos conhecimentos sobre Window Functions.







! **Voc√™ pode encontrar esse notebook no meu reposit√≥rio** [GitHub](https://github.com/Daniel022de/Bootcamp_SoulCode_EngenhariaDados)

! **Voc√™ pode entrar em contato comigo atrav√©s do meu email** ddololiveira.pessoal@gmail.com **e** [Linkedin](https://www.linkedin.com/in/daniel-oliveira-503b0323b/).

! **Toda d√∫vida,recomenda√ß√µes e feedbacks ser√£o bem-vindas.**

# ‚ñ∂ 1 Instala√ß√£o

In [ ]:
!pip install pyspark

#‚ñ∂ 2 Importa√ß√£o bibliotecas

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
import pyspark.sql.functions as F

# ‚ñ∂ 3 Configurando vari√°vel ambiente

In [ ]:
spark = (
    SparkSession.builder
                .master('local')
                .appName('window')
                .config('spark.ui.port', '4050')
                .getOrCreate()
)

#‚ñ∂ 4 Criando DataFrame Spark

In [ ]:
#esquemas

schema = ['nome', 'departamento', 'estado', 'salario']

In [ ]:
#dados

dados = [('Anderson', 'vendas', 'SP', 9000),
         ('Kennedy', 'vendas', 'RJ', 4500),
         ('Luciana', 'vendas', 'SP', 4500),
         ('Marta', 'vendas', 'SP', 4500),
         ('Jo√£o', 'vendas', 'SP', 4500),
         ('Diego', 'vendas', 'SP', 4500),
         ('Marilia', 'vendas', 'SP', 1200),
         ('Gustavo', 'financeiro', 'AM', 8000),
         ('Pedro', 'financeiro', 'AM', 2750),
         ('Juliana', 'financeiro', 'MG', 3000),
         ('Leticia', 'financeiro', 'RJ', 7500),
('Oswaldo', 'marketing', 'RJ', 2450),
         ('Denis', 'marketing', 'MG', 1300)
         
        ]

In [ ]:
df = spark.createDataFrame(dados,schema)
df.show()

+--------+------------+------+-------+
|    nome|departamento|estado|salario|
+--------+------------+------+-------+
|Anderson|      vendas|    SP|   9000|
| Kennedy|      vendas|    RJ|   4500|
| Luciana|      vendas|    SP|   4500|
|   Marta|      vendas|    SP|   4500|
|    Jo√£o|      vendas|    SP|   4500|
|   Diego|      vendas|    SP|   4500|
| Marilia|      vendas|    SP|   1200|
| Gustavo|  financeiro|    AM|   8000|
|   Pedro|  financeiro|    AM|   2750|
| Juliana|  financeiro|    MG|   3000|
| Leticia|  financeiro|    RJ|   7500|
| Oswaldo|   marketing|    RJ|   2450|
|   Denis|   marketing|    MG|   1300|
+--------+------------+------+-------+

# ‚ñ∂ 5 Window Functions

In [ ]:
#Criando parti√ß√£o

w0 = Window.partitionBy(F.col('estado')).orderBy(F.col('salario').desc())

##  ‚óº 5.1 row_number

**Usa-se pra saber quantas linhas h√° em uma determinada parti√ß√£o.**

In [ ]:
df.withColumn('numero_linha',F.row_number().over(w0)).show()

+--------+------------+------+-------+------------+
|    nome|departamento|estado|salario|numero_linha|
+--------+------------+------+-------+------------+
| Gustavo|  financeiro|    AM|   8000|           1|
|   Pedro|  financeiro|    AM|   2750|           2|
| Juliana|  financeiro|    MG|   3000|           1|
|   Denis|   marketing|    MG|   1300|           2|
| Leticia|  financeiro|    RJ|   7500|           1|
| Kennedy|      vendas|    RJ|   4500|           2|
| Oswaldo|   marketing|    RJ|   2450|           3|
|Anderson|      vendas|    SP|   9000|           1|
| Luciana|      vendas|    SP|   4500|           2|
|   Marta|      vendas|    SP|   4500|           3|
|    Jo√£o|      vendas|    SP|   4500|           4|
|   Diego|      vendas|    SP|   4500|           5|
| Marilia|      vendas|    SP|   1200|           6|
+--------+------------+------+-------+------------+

## ‚óº 5.2 rank

**Ranquear parti√ß√£o.**

In [ ]:
df.withColumn('rank',F.rank().over(w0)).show()

+--------+------------+------+-------+----+
|    nome|departamento|estado|salario|rank|
+--------+------------+------+-------+----+
| Gustavo|  financeiro|    AM|   8000|   1|
|   Pedro|  financeiro|    AM|   2750|   2|
| Juliana|  financeiro|    MG|   3000|   1|
|   Denis|   marketing|    MG|   1300|   2|
| Leticia|  financeiro|    RJ|   7500|   1|
| Kennedy|      vendas|    RJ|   4500|   2|
| Oswaldo|   marketing|    RJ|   2450|   3|
|Anderson|      vendas|    SP|   9000|   1|
| Luciana|      vendas|    SP|   4500|   2|
|   Marta|      vendas|    SP|   4500|   2|
|    Jo√£o|      vendas|    SP|   4500|   2|
|   Diego|      vendas|    SP|   4500|   2|
| Marilia|      vendas|    SP|   1200|   6|
+--------+------------+------+-------+----+

## ‚óº 5.3 dense_rank

**Ranquear parti√ß√£o. Desconsiderando para uma determinada classifica√ß√£o os empates anteriores**

In [ ]:
df.withColumn('rank',F.dense_rank().over(w0)).show()

+--------+------------+------+-------+----+
|    nome|departamento|estado|salario|rank|
+--------+------------+------+-------+----+
| Gustavo|  financeiro|    AM|   8000|   1|
|   Pedro|  financeiro|    AM|   2750|   2|
| Juliana|  financeiro|    MG|   3000|   1|
|   Denis|   marketing|    MG|   1300|   2|
| Leticia|  financeiro|    RJ|   7500|   1|
| Kennedy|      vendas|    RJ|   4500|   2|
| Oswaldo|   marketing|    RJ|   2450|   3|
|Anderson|      vendas|    SP|   9000|   1|
| Luciana|      vendas|    SP|   4500|   2|
|   Marta|      vendas|    SP|   4500|   2|
|    Jo√£o|      vendas|    SP|   4500|   2|
|   Diego|      vendas|    SP|   4500|   2|
| Marilia|      vendas|    SP|   1200|   3|
+--------+------------+------+-------+----+

#‚ñ∂ 6 lag

**Pegar o X valor N acima.**

In [ ]:
df.withColumn('lag',F.lag('nome',1).over(w0)).show()

+--------+------------+------+-------+--------+
|    nome|departamento|estado|salario|     lag|
+--------+------------+------+-------+--------+
| Gustavo|  financeiro|    AM|   8000|    null|
|   Pedro|  financeiro|    AM|   2750| Gustavo|
| Juliana|  financeiro|    MG|   3000|    null|
|   Denis|   marketing|    MG|   1300| Juliana|
| Leticia|  financeiro|    RJ|   7500|    null|
| Kennedy|      vendas|    RJ|   4500| Leticia|
| Oswaldo|   marketing|    RJ|   2450| Kennedy|
|Anderson|      vendas|    SP|   9000|    null|
| Luciana|      vendas|    SP|   4500|Anderson|
|   Marta|      vendas|    SP|   4500| Luciana|
|    Jo√£o|      vendas|    SP|   4500|   Marta|
|   Diego|      vendas|    SP|   4500|    Jo√£o|
| Marilia|      vendas|    SP|   1200|   Diego|
+--------+------------+------+-------+--------+

# ‚ñ∂ 7 lead

**Pegar o X valor N abaixo.**

In [ ]:
df.withColumn('lead',F.lead('nome',1).over(w0)).show()

+--------+------------+------+-------+-------+
|    nome|departamento|estado|salario|   lead|
+--------+------------+------+-------+-------+
| Gustavo|  financeiro|    AM|   8000|  Pedro|
|   Pedro|  financeiro|    AM|   2750|   null|
| Juliana|  financeiro|    MG|   3000|  Denis|
|   Denis|   marketing|    MG|   1300|   null|
| Leticia|  financeiro|    RJ|   7500|Kennedy|
| Kennedy|      vendas|    RJ|   4500|Oswaldo|
| Oswaldo|   marketing|    RJ|   2450|   null|
|Anderson|      vendas|    SP|   9000|Luciana|
| Luciana|      vendas|    SP|   4500|  Marta|
|   Marta|      vendas|    SP|   4500|   Jo√£o|
|    Jo√£o|      vendas|    SP|   4500|  Diego|
|   Diego|      vendas|    SP|   4500|Marilia|
| Marilia|      vendas|    SP|   1200|   null|
+--------+------------+------+-------+-------+